body {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.judul {
    text-align: center;
    color: #FFF9F2;
    background-color: #6B5547;
    padding: 30px;
}

.judul h1 {
    margin: 0 0 8px;
}

.judul p {
    color: #F5EBDD;
}

.intro {
    text-align: center;
    margin:35px 20px 10px;
}

.intro h2 {
    margin: 0 0 5px;
}

.intro p {
    margin:0;
    font-size: 17px;
}

.kartu-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin:20px auto 50px;
    padding:0 20px;
}

.kartu {
    display: flex;
    flex-direction: column;
    border: 1px solid #DCCBB9;
    padding:25px;
    background-color: #FFF9F2;
    border-radius: 7px;
    transition: 0.3s;
}

.kartu:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.kartu img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.kartu h3 {
    margin-top: 15px;
}

.kartu p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.kartu a {
    align-self: flex-start;
    margin-top: auto;
    color:#FFF9F2;
    background-color: #C97855;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
}

.kartu a:hover {
    background-color:#A95F42;
}

footer {
    background-color: #3F332C;
    color: #FFF9F2;
    padding: 10px;
    margin-top: auto;
}

footer p {
    margin: 0;
}

.hak {
    text-align: center;
}