body {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.card-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin:0 35px;
}

.card {
    border: 1px solid #DCCBB9;
    padding:25px;
    background-color: #FFF9F2;
    border-radius: 7px;
}

.card img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.card p {
    line-height: 20px;
    margin-bottom: 20px;
}

.card a {
    color:#FFF9F2;
    background-color: #C97855;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}

.card a:hover {
    background-color:#A95F42;
}

footer {
    background-color: #3F332C;
    color: #FFF9F2;
    padding: 10px;
    margin-top: auto;
}

footer p {
    margin: 0;
}

.hak {
    text-align: center;
}