h1{
    color: black;
    text-align: center;
}
p{
    color: black;
    text-align:center;
    margin-bottom: 30px;
}
.beranda{
    text-align: center;
}
.tombol {
    text-decoration: none;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff9f2;
    background-color: #c97855;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}